<div id="homepagediv">

    <div class="text">

        <div class="heading1">

            <h4> __मेरा परिचय </h4>

        </div>

        <div class="heading2">

            <h1> Hello,</h1>
            <h1> my name's Hrushikesh.</h1>


        </div>

        <div class="tagline">
            <h5>Eager to code, ready to learn, and excited to innovate.</h5>

        </div>

        <div class="resumebutton">
            <a href="assets/Hrushi.Resume.pdf" download="Hrushi_Resume.pdf">
                <span>Resume</span> <!-- Use a span to wrap the text -->
                <img id="download" src="assets/icon.png" alt="Download Icon">
            </a>
        </div>
        


    </div>



    <div class="hero">
        <img src="assets/hero.svg" style="width: 650px; height: auto;">

    </div>



</div>